:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --tertiary-color: darkslategray;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --primary-font-family: "Poppins", serif;
  --secondary-font-family: "Playfair Display", serif;
}

.heading-title {
  background-color: var(--secondary-color);
  margin-bottom: 40px;
  padding-bottom: 10px;
  padding-top: 1px;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navbar-expand-lg {
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.subhead-purple {
  color: var(--primary-color);
}

body {
  margin: 0 auto;
  font-family: var(--primary-font-family);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}

h1,
h2,
h3,
h5 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
  font-family: var(--secondary-font-family);
  font-weight: bold;
  margin-bottom: 20px;
}

h2 {
  font-size: 36px;
  font-family: var(--primary-font-family);
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-family: var(--primary-font-family);
}

h5 {
  font-size: 20px;
  font-family: var(--primary-font-family);
}

.header {
  margin-top: 80px;
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 15px;
}

#index-name {
  color: darkslategray;
  font-weight: bold;
}

p {
  font-family: var(--primary-font-family);
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
}

.navigation-links {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

img.coding {
  width: 300px;
  height: 220px;
  margin: 0 auto;
}

img.index-img {
  width: 800px;
  height: 375px;
  margin: 0 auto;
}

a.active,
#active {
  color: var(--primary-color);
}

a:hover {
  color: var(--primary-color);
  transition: all 150ms ease-in-out;
}
#topBtn:hover {
  color: darkslategray;
  transition: all 150ms ease-in-out;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.social-links {
  margin: 50%;
}

.social-links a {
  margin: 0 20px;
  color: var(--primary-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 10px;
  transition: all 100ms ease-in-out;
}

.social-links a:hover {
  background: var(--primary-color);
  color: white;
}

.contact-link:hover {
  color: white;
  transition: all 150ms ease-in-out;
}

#contact-box {
  display: flex;
  background: var(--secondary-color);
  border-radius: 10px;
  padding: 30px 70px;
  margin-bottom: 55px;
  margin-top: 35px;
}

#contact-btn {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  margin-left: 160px;
  margin-top: 35px;
}

.about-link {
  background: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.about-me-bio {
  font-size: 14px;
}

.secondaryLink {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  padding: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  text-decoration: none;
}

.secondaryLink:hover {
  color: white;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.profile-quote {
  text-align: center;
}

#surf-bettys {
  padding-top: 30px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 30px;
  background-color: var(--secondary-color);
}

.email-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: var(--primary-color);
  font-size: 20px;
}

.email-link:hover {
  text-decoration: none;
  color: var(--tertiary-color);
}

#topBtn {
  color: var(--primary-color);
  position: fixed;
  bottom: 15px;
  float: right;
  right: 18.5%;
  left: 95%;
  width: 100%;
}

.copyright {
  font-size: 15px;
  font-family: var(--primary-font-family);
}

@media (max-width: 576px) {
  body {
    text-align: center;
  }

  h1 {
    font-size: 48px;
    line-height: 1.5;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 12px;
  }

  p {
    font-size: 9px;
  }

  .email-link {
    font-size: 14px;
  }
  #topBtn {
    display: none;
  }
}
